@keyframes close {
  to {
    transform: rotate(270deg) scale(0);
  }
}

@keyframes show-modal {
  from {
    transform: scale(0) translate(-50%, -50%);
  }
  to {
    transform: scale(1) translate(-50%, -50%);
  }
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

@keyframes up {
  from {
    top: 100%;
  }
  to {
    top: 0;
  }
}

@keyframes down {
  from {
    bottom: 100%;
  }
  to {
    bottom: 0;
  }
}

@keyframes fly {
  @for $i from 0 through 19 {
    #{$i * 1%} {
      transform: rotate($i * 0.5deg);
    }
  }
  20% {
    top: -1000px;
    transform: rotate(10deg);
  }
  30% {
    top: -1000px;
  }
}

@keyframes smoke {
  0% {
    transform: scale(0);
    opacity: 0;
  }
  50% {
    transform: scale(0.7);
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes shake {
  @for $i from 1 through 99 {
    $shaking: 1px;
    @if ($i % 2 == 0) {
      $shaking: -1px;
    }
    @if ($i % 3 == 0) {
      $shaking: 2px;
    }
    @if ($i % 4 == 0) {
      $shaking: -2px;
    }
    #{$i * 1%} {
      transform: translate($shaking, $shaking);
    }
  }
}

@for $i from 0 through 4 {
  $l: 100% / 6;
  @keyframes zoom-in-out-#{$i + 1} {
    0% {
      transform: scale(0);
    }
    #{$i * $l} {
      transform: scale(0);
    }
    #{$i * $l + $l} {
      transform: scale(1.2);
    }
    #{$i * $l + $l * 2} {
      transform: scale(0);
    }
    100% {
      transform: scale(0);
    }
  }
}
